{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  {% if video %}
    <script>
      var VIDEO_ID = "{{ video.video_id }}";
      var DELETE_VIDEO_URL = "{% url "videos:delete" video.video_id %}";
      var PLAYER_WIDTH = 600;
      var PLAYER_HEIGHT = 400;
    </script>
    <script src="{% static "js/base.js" %}"></script>

    <div id="video-placeholder"></div>
    upvote | downvote
  {% else %}
    Não há vídeos para votar :(

    Que tal enviar um?
  {% endif %}

  <form method="POST" action="{% url "videos:add" %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
  </form>
{% endblock %}
