{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}{% endblock %}

{% block content-class %}playlist-content{% endblock %}

{% block content %}
  {% for video in videos %}
    <div class="card">
      <img class="cover" src="{{ video.cover_url }}">
      <div class="video-title">{{ video.title }}</div>
      <div class="box-votes">
        <div class="likes">
          {{ video.count_like }} like 2
        </div>
        <span class="vertical-line"></span>
        <div class="dislikes">
          {{ video.count_dislike }} dislike 3
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
