{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
  {% block head %}
    <title>{% block title %}RadioLabs{% endblock %}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static "assets/highlight/css/default.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/highlight/css/tomorrow.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "assets/highlight/js/highlight.min.js" %}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
      var VIDEO_ADD_URL = "{% url "videos:add" %}";
    </script>
    <script src="{% static "js/base.js" %}"></script>
  {% endblock %}
  </head>
  <body>
    {% block body %}
      {% block navbar %}
        <div id="navbar">
          <div id="navbar-content">
            <img class="brand" src="{% static "img/logo.png" %}">
            <span class="navbar-brand-text">RADIO<strong>LABS</strong></span>
            <span class="pull-right box-inline">
                <span class="error-add-msg"></span><span class="text-small">Insira a url do youtube aqui</span>
            {% csrf_token %}
            <input id="id_url" minlength="6" maxlength="200" name="url" placeholder="ex: https://www.youtube.com/watch?v=rA-RgGA_ZyY" type="text">
            <button type="button" class="btn-lg btn-add"><strong>+</strong></button>
            </span>
          </div>
        </div>
      {% endblock %}
      <div class="{% block content-class %}content{% endblock %}">
        {% block content %}{% endblock %}
      </div>
    {% endblock %}
  </body>
</html>
