{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
  {% block head %}
    <title>{% block title %}RadioLabs{% endblock %}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static "assets/highlight/css/default.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/highlight/css/tomorrow.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "assets/highlight/js/highlight.min.js" %}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
  {% endblock %}
  </head>
  <body>
    {% block body %}
      {% block content %}{% endblock %}
    {% endblock %}
  </body>
</html>
