{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}{% endblock %}

{% block content %}
  <script>
    {% if video %}
      var VIDEO_ID = "{{ video.video_id }}";
      var DELETE_VIDEO_URL = "{% url "videos:delete" video.video_id %}";
    {% else %}
      var VIDEO_ID = "";
      var DELETE_VIDEO_URL = "";
    {% endif %}

    var PLAYER_WIDTH = 480;
    var PLAYER_HEIGHT = 360;
  </script>
  <script src="{% static "js/base.js" %}"></script>

  {% csrf_token %}

  <div id="video-placeholder"></div>
{% endblock %}
